*~
*.o

build

cprogs/readbuffer
cprogs/writebuffer
cprogs/trivsoundd
cprogs/really
cprogs/with-lock-ex
cprogs/xbatmon-simple
cprogs/xbatmon-simple.txt
cprogs/xduplic-copier
cprogs/mcastsoundd
cprogs/summer
cprogs/watershed
cprogs/watershed.txt
cprogs/rcopy-repeatedly
cprogs/rcopy-repeatedly.txt
cprogs/acctdump
cprogs/cgi-fcgi-interp
cprogs/cgi-fcgi-interp.txt
cprogs/prefork-interp
cprogs/prefork-interp.txt

scripts/git-branchmove.1

debian/sv-*
debian/files
debian/*.debhelper.log
debian/*.debhelper
debian/.debhelper
debian/debhelper-build-stamp
debian/*.substvars
debian/tmp
debian/chiark-backup
debian/chiark-really
debian/chiark-rwbuffer
debian/chiark-scripts
debian/chiark-utils-bin
